# Dependencies
node_modules

# Build outputs
dist
build

# Docker files
Dockerfile
.dockerignore

# Environment and secrets
.env
.env.*

# Version control
.git
.gitignore

# Logs
npm-debug.log

# Development tools
.vscode

# Testing
coverage

# Documentation
*.md